*{
    margin: 0;
    padding: 0;

}

header{
    background-color: plum;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    
}

.logo{
    width: 55px;
    height: 55px;

}


.lista{

    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    padding: 50px;
}