*{
    margin: 0;
    padding: 0;

}

.logo{
    font-family: 'Ultra', serif;
    font-size: 25px;

}
.opções{
    font-family: 'Rancho', sans-serif;
    font-size: 30px;

}
.pai{
    display: flex;
    background-color: #f35b7e;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.filho{
    background-color: aliceblue;
    height: 90vh;
    width: 80vw;
    border-radius: 60px;
    
}

header{
    display: flex;
    width: 80vw;
    height: 80px;
    justify-content: space-around;
    align-items: center;

}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 40vw;
}

main{
    display: flex;
    height: calc( 90vh - 80px);
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: space-around;
    font-size: xxx-large;
}   

.conteudo{
    color: #b3404a;
    text-shadow: 2.5px 2.5px 3px #f4b2b0 ;

}

a:visited,a:link{
    color: black;
    text-decoration: none;

 }
